* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: #d9bfbb;
	color: #333;
	font-size: 16px;
	line-height: 1.5;
	padding: 20px;
}

.app-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	background-color: #afa9b1;
	min-height: 100vh;
}

/* Search Bar */
.search-bar {
	max-width: 600px;
	margin: 0 auto 20px;
	display: flex;
	align-items: center;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	padding: 5px 15px;
}

.search-bar input {
	border: none;
	outline: none;
	flex: 1;
	padding: 10px;
	border-radius: 20px;
	font-size: 16px;
}

.search-bar button {
	background-color: #4CAF50;
	color: #fff;
	border: none;
	padding: 10px 15px;
	margin-left: 10px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.search-bar button:hover {
  	background-color: #45a049;
}

/* Results */
.series-item, .player-item {
    background-color: #fff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.series-item:hover, .player-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

/* Series and Player Details */
.series-details, .player-details, .match-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
}

button {
    background-color: #FF5733;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ea5028;
}

/* Match Item */
.match-item {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.match-item:hover {
    background-color: #e0e0e0;
    transform: scale(1.02);
}

/* Add this CSS to your existing styles or create a new CSS file */

.stat-table {
	margin-top: 20px;
}

table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #ccc;
}

th, td {
	padding: 10px;
	text-align: center;
	border: 1px solid #ccc;
}

th {
	background-color: #f2f2f2;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

.close-button {
	background-color: #f2f2f2;
	border: none;
	padding: 5px 10px;
	margin-bottom: 20px;
	cursor: pointer;
	font-weight: bold;
}

.close-button:hover {
	background-color: #e0e0e0;
}

.match-details-container {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    margin: 20px;
}

.match-list-container {
    list-style-type: none; /* Remove bullets */
    padding-left: 0; /* Remove default padding */
}

.back-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.match-info {
    margin-bottom: 20px;
}

.info-item {
    margin-bottom: 10px;
}

.score-details {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
}

.inning-score {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.inning-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.score-item {
    margin-top: 5px;
}
